
<div class="hero-unit">

<h1>Kuhcoon Bro!</h1>


<ul> 
	<li> Kuhcoon rocks</li>
	<li> Kuhcoon is the best</li>
	<li> Lol </li>
</ul> 


	<p>
            <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
        </p>

</div> 
